# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django stuff
db.sqlite3
*.log

# Media files (face images)


# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# TensorFlow / DeepFace cache (optional but safe)
*.h5
*.keras

# Environment variables
.env